  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


  *{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

  /* reusable code  start*/
  a{
    text-decoration: none;
  }
  ul,ol{
    list-style: none;
  }
  .container{
    max-width: 85%;
    margin: auto;
    padding: 0px 15px;
  }
  section {
    padding: 50px 0px;
  }
  .btn {
    width: 170px;
    height: 40px;
    text-align: center;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    background: linear-gradient(to right ,#8391FF,#65BAFC);
    color: #fff;
    transition: all .1s linear;
  }
  .btn:hover {
    box-shadow: 0px 20px 20px rgba(157, 175, 255, 0.404);
  }
  /* section titile designing... */
  .section-title {
    text-align: center;
    margin-bottom: 50px;
  }
  .section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  .section-title p {
    max-width: 70%;
    margin: auto;
    font-size: 14px;
    color: #858585;
    letter-spacing: .3px;
    word-spacing: .4px;
    line-height: 20px;
    font-weight: 300;
  }
  /* singel text design */
  .color-text {
    color: #8490ff;
    font-size: 15px;
    font-weight: 500;
  }
  /* reusable code  end*/





/* ============================= */
/* ==============header start */
/* ============================ */
header {
  width: 100%;
  padding: 18px 0;
  position:sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  transition: all .4s;
}
/* header box bottom shadow effect of window scroll */
.header-shadow{
  box-shadow: 0 17px 20px rgb(0,0,0,0.1);
}
/* header contents */
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contents .logo {
  max-width: 40%;
}

/* navigation bar */
.navbar {
  max-width: 60%;
  position: relative;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  margin: 0 5px;
}
.navbar ul li a {
  color: #222;
  text-transform: uppercase;
 font-weight: 500;
  font-size: 13px;
  letter-spacing: .9px;
  display: block;
  padding: 0 7px;
  transition: .3s;
}
.navbar ul li a:hover{
  color: #8490ff;
}

/* togglebar */
.toggle-bar {
  width: 25px;
  float: right;
  /* margin-top: -20px; */
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
}
.toggle-bar i {
  color: black;
  font-size: 23px;
}
/* mobaile-body-overlay */
.mobaile-body-overlay {
display: none;
}
/* over lay close btn */
.mobaile-body-overlay .close-btn {
  color: #fff;
  position: absolute;
  top:  10px; 
  right: 10px;
  font-size: 25px;
  transition: .3s;
  padding: 5px 7px;
}
.mobaile-body-overlay .close-btn:hover  {
  color: #5568fd;
  border: 2px solid #9234fd;
  border-radius: 50%;
  padding: 5px 7px;
}
/* ==============header end */

/*=========== hero section start */
.hero-section {
  width: 100%;
  background-color:#F9F9FF;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero-contents {
  margin-top:70px;
  padding: 0 15px;
  width: 50%;
}
.hero-contents h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .8px;
  color: #555555;
  margin-bottom: 20px;
}
.hero-contents h1 {
  text-transform: uppercase;
  font-size: 55px;
  color: #333;
  margin-bottom: 20px;
}
.hero-contents p {
  text-transform: capitalize;
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
  line-height: 20px;
}
/* ===hero contents end */

/* hero img div start */
.hero-img{
  width: 50%;
}
.hero-img img {
  max-width:  100%;
  display: block;
}
/*=========== hero section end */



/* ===========about section start */
.about-section {
  width: 100%;
}

/* about container */
.about-container {
  display: flex;
  justify-content: space-between;
}

/* about image  */
.about-image {
  width: 50%;
}
.about-image img {
max-width:100%;
}

/* about details */
.about-dtl {
  width: 45%;
  height: 300px;
  margin-top: 15px;
  padding-top: 59px;
  padding-left: 30px;
  padding-right: 30px;
}
.about-dtl h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #363636;
  margin-bottom: 20px;
  letter-spacing: .3px;
}
.about-dtl h1 {
  text-transform: uppercase;
  font-size: 35px;
  color:#363636;
  letter-spacing: .7px;
  margin-bottom: 30px;
}
.about-dtl p {
  font-size: 13.5px;
  letter-spacing: .3px;
  line-height: 20px;
  color:#858585;
  margin-bottom: 30px;
}
/* /* ===========about section end */


/* ==================sercvices section start */
.service-container {
  width:100%;
}
.services-boxs {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.service-box {
  padding: 30px 15px;
  text-align: center; 
}
/* service icon */
.service-box .service-icon {
  text-align: center;
 }
 .service-box .service-icon span {
  font-size: 40px;
  font-weight: 250;
  margin-bottom: 20px;
  color: #333;
  transition: all .3s;
 }

/* service h1 */
.service-box h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 500;
  transition: all .6s;
}
.service-box p {
  font-size: 13px;
  color:#858585;
  text-align: center;
}


/* service box hover */
.service-box:hover span {
  color: rgb(48, 151, 247);
}
.service-box:hover h3 {
  /* color:linear-gradient(#65BAFC,#8391FF); */
  color: rgb(49, 172, 255)
}

/*===================services section end */


/* ================counter section start */
.counter-section{width: 100%;
background: linear-gradient( to right,#8391FF,#65BAFC);
}

.counter-container {
  padding: 50px 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.counter-div {
  text-align: center;
  padding: 15px;
}
.counter-div h2 {
  color: #fff;
  font-size: 35px;
  letter-spacing: .3px;
}
.counter-div p {
  color: #fff;
  letter-spacing: .5px;
  font-size: 15px;
}

/* ================counter section end */


/* ==============protfolio section start */
.protfolio-section {
  max-width: 100%;
}

.protfolio-container {
  padding: 50px 0;
}

.protfolio-controlbar {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.protfolio-controlbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.protfolio-controlbar ul li {
  margin: 0 5px;
}
.protfolio-controlbar ul li a {
  color:#000;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
  position: relative;
}
/* protfolio before */
.protfolio-controlbar ul li a::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 10px;
  width:0px; 
  height: 2px;
  background: linear-gradient(to right,#8391FF,#65BAFC);

  transition: all .3s;
}
.protfolio-controlbar ul li a:hover::before{
width: 20px;
}

/* protfolio card divs */
.protfolio-card-divs {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 50px;
  row-gap: 20px;
}
.protfolio-div {
  text-align: center;
  overflow: hidden;
}
.profilio-img {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.profilio-img img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.protfolio-card-ds {
  max-width: 80%;
  margin: auto;
  padding: 15px 0;
}
.protfolio-card-ds h2 {
  color: #464646;
  font-size: 20px;
}.protfolio-card-ds p {
  font-size:13px;
  font-weight: 400;
  letter-spacing: .2px;
  color: #666;
}

/*protfolio overlay  */
.protfoli-overlay {
  width:92%;
  height: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left:15px;
  margin: auto;
 border-radius: 10px;
  display: flex;
  justify-content: center;
  background:linear-gradient(to right ,#838fe4e3,#72b9f0ec);
  align-items: center;
  visibility: hidden;
  z-index: 995;
  transition: all .1s linear;
}
.protfoli-overlay span {
  color: #fff;
  font-size: 50px;
}
.profilio-img:hover .protfoli-overlay {
  visibility: visible;
}
/* ==============protfolio section end */

/* =============feedback section start */
.feedback-section {
  max-width: 100%;
  background-color: #F9F9FF;
  padding: 110px 0px;
}
.feedback-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-box {
  width: 49%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  transition: all .3s;
  box-shadow: 1px 1px 10px rgba(180, 179, 253, 0.062);
}
.feedback-box:hover {
  box-shadow: 1px 1px 10px rgba(119, 90, 250, 0.336);
}
.feedback-box .feed-img {
  width: 8%;
  height: 40px;
}
.feedback-box .feed-img img {
  max-width: 100%;
}
.feedback-box .feed-ds {
  width: 92%;
  padding:10px 20px;
}
.feedback-box .feed-ds p {
  font-size: 14px;
  color: #888;
  font-weight: 300;
  margin-bottom: 20px;
}
.feedback-box .feed-ds h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.feedback-box .feed-ds span {
  font-size: 13px;
  color: #888;
  text-transform: capitalize;
}
/*feedback-box hover*/
.feedback-box:hover.feedback-box .feed-ds h2 {
  color: rgb(69, 117, 248)
}
/* ==============feedback section end */

/* ==============plan section start */
.plan-section {
  max-width: 100%;
  padding: 70px 0;
}
.plan-container {
  width: 100%;
  height: auto;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.plan-div {
  text-align: center;
  background-color: #F8F8FE;
  padding: 20px;
  transition: all .2s linear;
}
.plan-div .plan-outer-circle {
  max-width: 150px;
  height: 150px;
  margin: auto;
  background-color: #e2e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
}
.plan-outer-circle .plan-inner-circle {
  width: 55%;
  height: 55%;
  margin: auto;
  background-color: #F8F8FE;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  z-index: 0;
}
.plan-outer-circle .plan-inner-circle span {
  font-size: 20px;
}
.plan-div-ds {
  padding: 25px 0;
}
.plan-div-ds h3 {
  text-transform: capitalize;
  color: #333;
}
.plan-div-ds span {
  text-transform: capitalize;
  font-weight: 400;
  color: #888;
  font-size: 15px;
  display: block;
  margin-bottom: 30px;
}
.plan-div-ds ul li {
  padding: 10px;
  border-top: 1px solid #d6d6d6;
}
.plan-div-ds ul li a {
  color: #888;
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 300;
}
.plan-div-ds h2 {
  color: #333;
  font-size: 35px;
  margin-top: 25px;
  width: 100%;
  position: relative;
}
/* plan div hover effect */
.plan-div:hover {
    transform: scale(1.1);
    z-index: 1;
    background: linear-gradient(to right, #8490ff, #62bdfc);
}
.plan-div:hover .plan-div-ds h3{
  color: #fff;
}
.plan-div:hover .plan-div-ds span{
  color: #fff;
}
.plan-div:hover .plan-div-ds ul li {
    border-top: 1px solid #fff;
}
.plan-div:hover .plan-div-ds ul li a {
  color: #fff;
}
.plan-div:hover .plan-div-ds h2::after {
  content: 'buy now';
  position: absolute;
  top: 2px ;
  left: 0;
  width:100% ;
  height: 90%;
  color: #333;
  font-size: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
/*===============plan section end */

/* ===============blog section start */
.blog-section {
  width:100%;
  padding: 120px 0;
  background-color: #F9F9FF;
}

.blog-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.blog-div {
  padding-bottom: 5px;
  overflow: hidden;
}
.blog-div .blog-div-img {
  width: 100%;
  overflow: hidden;
}
.blog-div .blog-div-img img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all .3s linear; 
}
/* img hover */
.blog-div:hover .blog-div-img img {
  transform: scale(1.1);
  display: block;
}
/* blog details */
/* .blog-datails {} */
/* blog activites */
.blog-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}
  /* blog active div 1 */
.blog-active-div-1 {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
.blog-active-div-1 img {
  width: 30px;
  background-color: rgba(160, 160, 160, 0.37);
}
.blog-active-div-1 span {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #555;
}
/* blog active div 2  */
.blog-active-div-2 {
  width: 160px;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
}
.blog-active-div-2 span {
  font-weight: 200;
  font-size: 15px;
  color: #888;
}
.blog-active-div-2 span i {
  transition: all .2s linear; 
}
.blog-active-div-2 span i:hover {
  color: red;
}

/* blog information */
.blog-information {
/* background-color: red; */
padding-top: 30px;;
}
.blog-information h3 {
  text-transform: uppercase;
  font-size: large;
  letter-spacing: .7px;
  word-spacing: .9px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  transition: .3s;
}
/* blog information h3 hover effect */
.blog-div:hover .blog-information h3 {
  color:#8490ff;
}
/* blog information p */
.blog-information p {
  font-size: 14px;
  color: #888;
  letter-spacing: .5px;
  font-weight: 300;
}
/* ===============blog section end*/

/* ===============brand section start */
.brand-section {
  padding: 10px 0;
  background: linear-gradient(to right ,#8490ff,#62bdfc)
}
.brand-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
}
.brand-container div {
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-container div img {
  opacity: .5;
  transition: all .3s;
}
/* brand div img hover effect */
.brand-container div img:hover {
  opacity: 1;
}

/* ===============brand section end */

/* ================footer start */
footer {
  max-width: 100%;
  padding: 110px 0;
  background-color: rgb(46, 31, 90);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 150px;
  column-gap: 20px;
}
/* footer about */
.footer-about > h3 {
  color: #fff;
  text-transform: capitalize;
  font: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-about > p {
  color: #c4c4c4;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 22px;
}

/* footer newsletter */
.footer-nl h3 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-nl p {
  color: #c4c4c4;  
  font-size: 13px;
  font-weight: 400;
}
.footer-nl .email-send{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nl .email-send input {
  width: 100%;
  padding: 7px;
  color: #8d8d8d;
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 2px;
}
.footer-nl .email-send input::placeholder {
  font-size: 13px;
  font-weight: 400;
}
.footer-nl .email-send button {
  border: none;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  background-color: #8490ff;
  transition: all .3s;
}
.footer-nl .email-send button:hover{
  background-color:#6472f0;
}
.footer-nl .email-send button span {
  color: #fff;
  font-weight: 100;
}

/* footer follow me */
.footer-fw-me h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-fw-me p {
  color: #c4c4c4;
  font-size: 13px;
  font-weight: 400;
}
.footer-fw-me ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-fw-me ul li a {
  display: block;
}
.footer-fw-me ul li a i {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  transition:  all .1s;
}
.footer-fw-me ul li a i:hover {
  color:#6933f1;
}
/* ================footer end */








/*  media quary for MOBAILE devices */
@media screen and (max-width: 767.98px) {
/* navbar styling.. */
.navbar {
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0.1);
  transition: .1s;
  overflow: hidden;
  z-index: 999;
}
.navbar ul {
  display: block;
}
.navbar ul li {
  margin: 25px 5px;
}
.navbar ul li a {
  color: #fff;
  letter-spacing: .1rem;
  font-size: 13px;
}
.mobaile-body-overlay{
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 20%;
  display: block;
  background-color: rgb(0,0,0,0.7);
  transition: .1s;
  z-index: 20;
  overflow: hidden;
}
/* navbar toggle icon */
.toggle-bar {
  display: block;
}
/* navbar styling.. end*/

/* hero section start */
.hero-container {
  display: block;
}
.hero-contents {
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}
.hero-contents h1 {
  font-size: 25px;
  font-weight: 600;
}
.hero-img {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* hero section end */

/* about section start */
.about-container {
  display: block;
  padding: 0;
}
.about-image {
  width: 80%;
  margin: 0px auto;
}
.about-dtl {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.about-dtl h1 {
  font-size: 25px;
}
/* about section end */

/* service section start */
.services-boxs {
  display: block;
}
.service-section .section-title h2{
  font-size: 25px;
}

.service-box {
  width: 70%;
  margin: auto;
}
/* service section end */

/* counter section start */
.counter-container {
  display: block;
}
.counter-div {
  width: 70%;
  margin: auto;
}
/* counter section end */

/* protfolio section start */
.protfolio-section .section-title h2 {
  font-size: 25px
}
.protfolio-controlbar {
  width: 50%;
  margin: auto;
}
.protfolio-controlbar ul {
  /* display: block; */
  width: 50%;
  margin:auto;
}
.protfolio-controlbar ul li a {
  padding: 0;
}
.protfolio-card-divs {
  display: block;
  overflow: hidden;
}
.protfoli-overlay {
  width: 100%;
  left: 0;
}
/* protfolio section end */

/* feedback section start */
.feedback-section .section-title h2 {
  font-size: 25px;
}
.feedback-section .section-title p {
  font-size: 12px;
}
.feedback-container {
  display: block;
}
.feedback-box {
  width: 100%;
  height:  100%;
  margin: auto;
  margin-bottom: 20px;;
}

/* feedback section end */


/* plan section start */
.plan-section .section-title h2 {
  font-size: 25px;
}
.plan-section .section-title p {
  font-size: 12px;
}
.plan-container {
  display: block;
}
.plan-div {
  width: 100%;
  margin-bottom: 10px;
}
/* plan section end */

}
